[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = ">=1.26.34"
clarity-sagemaker-studio = {path = "."}
debugpy = ">=1.6.7"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
